---
Language: Cpp
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 4
AlignAfterOpenBracket: true
AlignEscapedNewlinesLeft: false
AlignOperands: Align
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTemplateCloser: true
BreakBeforeTernaryOperators: false
BreakBeforeConceptDeclaration: Always
BreakConstructorInitializers: BeforeComma
BreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BinPackParameters: true
ColumnLimit: 90
CommentPragmas: "^!<"
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ContinuationIndentWidth: 6
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: LogicalBlock
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
ForEachMacros: [BOOST_FOREACH]
IndentCaseLabels: false
IndentFunctionDeclarationAfterType: false
IndentRequiresClause: true
IndentWidth: 2
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: None
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: false
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 200
PenaltyBreakString: 300
PenaltyBreakFirstLessLess: 80
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 100
PointerAlignment: Left
QualifierAlignment: Right
RequiresClausePosition: OwnLineWithBrace
RequiresExpressionIndentation: Keyword
SeparateDefinitionBlocks: Always
SortUsingDeclarations: Never
Standard: c++20
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterIfMacros: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
TabWidth: 4
UseTab: Never
---
